.checkbox-switch input[type='checkbox'] {
    width: 0;
    height: 0;
    position: absolute;
    top: -9999px;
    right: -9999px;
    overflow: hidden;
    display: none;
}

.checkbox-switch > *,
.checkbox-switch > *:after,
.checkbox-switch > *:before {
    box-sizing: border-box;
}

.checkbox-switch {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 2.2652rem;
}
.checkbox-switch:after {
    content: '';
    display: table;
    clear: both;
}
.checkbox-switch .checkbox-right {
    float: right;
    padding-top: 12px;
}
.checkbox-switch legend {
    margin: 0;
    padding: 0;
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-bottom: 1.618rem;
}
.checkbox-switch legend.legend-left {
    margin: 0 1.618rem 0 0;
    float: left;
}
.checkbox-switch input[type='checkbox'] + label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.3rem;
}
@media screen and (max-width: 614px) {
    .checkbox-switch input[type='checkbox'] + label {
        padding-bottom: 5px;
    }
}
.checkbox-switch input[type='checkbox'] + label:before {
    width: 2.3rem;
    height: 1.3rem;
    content: '•';
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: left;
    font-size: 2.5rem;
    line-height: 0.9rem;
    float: left;
    overflow: hidden;
    color: black;
    border: 0.1949902505rem solid black;
    border-radius: 0.65rem;
    margin: auto 0;
    border-color: gray;
    background: gray;
    color: white;
}

@media screen and (min-width: 25rem) {
    .checkbox-switch input[type='checkbox'] + label:before {
        margin-right: 0.5rem;
    }
}
.checkbox-switch input[type='checkbox'] + label:after {
    display: none;
}
@media screen and (min-width: 25rem) {
    .checkbox-switch input[type='checkbox'] + label:after {
        width: 1.75rem;
        display: inline-block;
    }
}
.checkbox-switch input[type='checkbox']:checked + label:before {
    border-color: #1a252f;
    background: #1a252f;
    text-align: right;
    color: white;
}

.checkbox-switch {
    font-size: 16px;
    line-height: 1.618;
    color: black;
}
@media screen and (min-width: 25rem) {
    .checkbox-switch {
        font-size: 18px;
    }
}
