{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb-base",
        "airbnb-base/whitespace",
        "plugin:prettier/recommended",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "no-console": "warn",
        "lines-around-comment": [
            "error",
            {
                "beforeBlockComment": true,
                "afterBlockComment": true,
                "beforeLineComment": true,
                "afterLineComment": true,
                "allowBlockStart": true,
                "allowBlockEnd": true,
                "allowObjectStart": true,
                "allowObjectEnd": true,
                "allowArrayStart": true,
                "allowArrayEnd": true
            }
        ],
        "curly": [
            "error",
            "all"
        ],
        "max-len": [
            "error",
            {
                "code": 100,
                "ignoreUrls": true
            }
        ],
        "no-var": "error",
        "semi": "error",
        "indent": "error",
        "no-multi-spaces": "error",
        "space-in-parens": "error",
        "no-multiple-empty-lines": "error",
        "prefer-const": "error",
        "no-use-before-define": "error",
        "prettier/prettier": "error"
    },
    "plugins": [
        "prettier"
    ],
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": true
    },
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "jest": true,
        "es6": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}