{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "no-console": "warn",
        "lines-around-comment": [
            "error",
            {
                "beforeBlockComment": true,
                "afterBlockComment": true,
                "beforeLineComment": true,
                "afterLineComment": true,
                "allowBlockStart": true,
                "allowBlockEnd": true,
                "allowObjectStart": true,
                "allowObjectEnd": true,
                "allowArrayStart": true,
                "allowArrayEnd": true
            }
        ],
        "curly": [
            "error",
            "all"
        ],
        "max-len": [
            "error",
            {
                "code": 100,
                "ignoreUrls": true
            }
        ]
    },
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": true
    },
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "jest": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}