
  /* Accordion styles */
  .tabs {
    border-radius: 8px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    padding: 1vh 0vw;
  }

  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
  }
  .tab-label {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1em;
    background: #2c3e50;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    font-size: .75rem;
    white-space: nowrap;
  }
  .tab-label:hover {
    background: #1a252f;
  }
  .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .tab-content {
    padding: 3px;
    color: #2c3e50;
    background: white;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    font-size: 1rem;
    display: none;
  }
  .tab-close {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
  }
  .tab-close:hover {
    background: #1a252f;
  }

  input:checked + .tab-label {
    background: #1a252f;
  }
  input:checked + .tab-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  input:checked ~ .tab-content {
    max-height: fit-content;
    display: block;
  }

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

