.column {
  box-sizing: border-box;
    float: left;
    padding: 10px;
    height: 40px;
  }

  .testcase{
    width: 40%;
}

.result{
  width: 20%;
}

.time{
  width: 20%;
}

.information{
  width: 20%;
}

  .tableheader{
    border-top-right-radius:8px;
    text-align: left;
    background: #333334;
    color: #fff;
    font-weight: bold;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-wrap: break-word;
    /* padding: 1rem; */
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
  box-sizing: border-box;
  }