.informationiconwrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 1px -1px #fafafa inset;
    color: black;
}

.informationicon {
    vertical-align: text-bottom;
}

.status {
    text-transform: capitalize;
}
