.numberCircle {
    border-radius: 50%;
    width: 12px;
    height: 8px;
    padding: 6px;
    color: #ffffff;
    text-align: center;
    font: 12px Arial, sans-serif;
    margin: 3px;
}

.numberCircleParent{
    width: 100%;
    height: 1em;
    text-align: right;
    transition: all 0.35s;
}