 /* Remove default bullets */
 ul, .treelist {
    list-style-type: none;
    color: white;
  }
  
  /* Remove margins and padding from the parent ul */
  .treelist {
    margin: 0;
    padding: 0;
    text-align: left;
  }