
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: white;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }

  .nodeTitle{
    cursor: pointer;
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }

  ul.treelist, ul.treelist ul {
    list-style: none;
     margin: 0;
     padding: 0;
   }

   ul.treelist ul {
    margin-left: 10px;
  }
  ul.treelist li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    color: #369;
    font-weight: bold;
    border-left:1px solid rgb(100,100,100);

  }
  ul.treelist li:last-child {
      border-left:none;
  }
  ul.treelist li:before {
     position:relative;
     top:-0.3em;
     height:1em;
     width:12px;
     color:white;
     border-bottom:1px solid rgb(100,100,100);
     content:"";
     display:inline-block;
     left:-7px;
  }
  ul.treelist li:last-child:before {
     border-left:1px solid rgb(100,100,100);   
  }