.summary {
    text-align: center;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.gray {
    background-color: gray;
}
