
.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    text-align: center;
  }

  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:#fff;
  cursor: pointer;
}

  @media screen and (max-width: 700px) {
    .sidenav {
      top: 0;
      padding-top: 15px;
    }
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-left .5s;
  padding: 20px;
}


    .close{
        display:none;
    }

    .open{
        display:block;
    }
  
  

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 
  