.sidenav {
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    overflow-x: hidden;
    text-align: center;
    margin: 0;
    transition: all 0.3s cubic-bezier(0, 0, 0, 0);
}

@media screen and (max-width: 700px) {
    .sidenav {
        padding-top: 15px;
    }
}

.close {
    width: 0px;
    height: 0px;
}

.open {
    width: 30%;
    height: 100%;
    padding: 2px 20px;
    background-color: #111;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
